@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@font-face {
  font-family: "Nunito", sans-serif;
  src: url("./fonts/Nunito.ttf");
}
* {
  font-family: "Nunito", sans-serif;
}
body, html {
  height: 100%;
}
body {
  margin: 0;
  background-color: rgb(250, 250, 250);
}
.title {
  background-color: #e6d3c5;
  padding: 0vw 3vw;
  border-bottom: 0.15vw solid #2d3f2c4b;
  box-shadow: 0 0 0.5vw 0vw #00000069;
}
.borderAndShadow {
  border: 0.05vw solid #2d3f2c4b;
  box-shadow: 0 0 0.5vw 0vw #00000069;
}
.title h1 {
  margin: 0;
  cursor: default;
  font-size: 7vw;
  color: black;
  background: url("./image/imagemcode 1.png") 0 0 / cover no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.apresentacao, .itensApresentation div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apresentacao {
  margin: 2vw;
}
.itensApresentation {
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: #eaeaeb;
  padding: 1vw;
}
.itensApresentation i {
  font-size: 2.2vw;
}
.itensApresentation i:hover {
  transform: scale(1.5);
  cursor: pointer;
}
.apresentacao img {
  width: 48vw;
  height: 27vw;
}
.apresentacao p {
  cursor: default;
  margin: 1.5vw 1vw 0 1vw;
  text-align: center;
  font-size: 1.7vw;
  width: 65vw;
}
.linksImgs {
  display: none;
}
.itensServicos {
  margin: 16vw 0;
}
.itensServicos h2 {
  font-size: 2.2vw;
  margin: 0;
}
.itensServicos ul, .itensServicos li, .abrangencia ul, .abrangencia li, .contato ul, .contato  {
  list-style: none;
  padding: 0;
}
.itensServicos ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.itensServicos li, .itensServicos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.itensServicos li {
  background-color: #ffffff;
  margin: 1vw 2vw 0 2vw;
}
.itensServicos p {
  font-size: 1.5vw;
}
.itensServicos a {
  height: 14.9vw;
}
.itensServicos img {
  width: 28vw;
  height: 15vw;
}
.abrangencia p {
  margin: 0;
  padding: 1vw 2vw 1vw 2vw;
  font-size: 1.5vw;
  text-align: justify;
}
.abrangencia li, .abrangencia img {
  width: 40vw;
}
.abrangencia li {
  margin: 2vw;
}
.abrangencia ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.abrangencia ul li:nth-child(even) {
  margin-left: 35vw;
}
.abrangencia ul li:nth-child(odd) {
  margin-right: 35vw;
}
.contato {
  padding: 1vw;
  display: flex;
  justify-content: center;
}
.contato ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  padding: 1.5vw 0;
}
.contato a {
  text-decoration: none;
  font-size: 1.1vw;
  color: black;
  font-weight: bold;
  margin-left: 0.5vw;
}
.contato p {
  font-size: 1.2vw;
}
.contato li {
  display: flex;
  align-items: center;
  width: 65%;
  margin: 0.5vw 0;
}
.contato li:hover {
  transform: scale(1.2);
}
.contato img {
  width: 3vw;
  height: 3vw;
}